body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section20 {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.section20 h1 {
    font-size: 30px;
    position: relative;
    top: 120px;
}

.section21 {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    /* background-color: #086A87; */
}

.box1 {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    /* background-color: green; */
}

.food0 {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* box-shadow: 10px 10px 10px dimgray; */
    /* background-color: greenyellow; */
}
.FStyle {
    width: 100%;
    position: absolute;
    color: white;
    padding: 20px;
}

.food {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://ldb-phinf.pstatic.net/20211211_252/1639154724817CIEdl_JPEG/014B91D7-4689-46D5-98B2-BA97982014ED.jpeg");
    background-size: cover;
    filter: brightness(.8);
}

.FStyle h1 {
    margin-bottom: 10px;
}

.FStyle p {
    font-size: 1.5rem;
}

.FStyle p:nth-child(4) {
    font-size: 1.5rem;
}

.food1 {
    display: none;
    width: 27vw;
    height: 35vh;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    color: white;
    /* background-color: yellow; */
}


@media screen and (min-width: 1470px) {
    .section21 {
        width: 1470px;
    }
}

@media screen and (max-width: 1350px) {
    .section21 {
        height: 150vh;
    }
}

@media screen and (max-width: 1140px) {
    .section21 {
        height: 160vh;
    }

    .section20 {
        height: 120px;
    }

    .section20 p {
        top: 60%;
    }

    .food0 {
        width: 45%;
    }
}

@media screen and (max-width: 750px) {
    .section21 {
        height: 200vh;
    }

    .food0 {
        width: 45%;
    }
}

@media screen and (max-width: 570px) {
    .section20 h1 {
        position: relative;
        top: 70px;
    }
    
    .section21 {
        height: 2600px;
    }

    .food0 {
        width: 100%;
    }

    .food {
        background-position-y: 80%;
        background-repeat: no-repeat;
    }
}