.section2 {
    position: relative;
    height: 500px;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 30px;
    /* padding-left: 0;
    padding-right: 0; */
}

.swiper {
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.swiper-button-next {
    color: goldenrod;
}

.swiper-button-prev {
    color: goldenrod;
}

/* .swiper-pagination {

} */

#img1 {
    background-image: url(../img/sc2.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#img2 {
    background-image: url(../img/f9.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#img3 {
    background-image: url(../img/c4.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#img4 {
    background-image: url(../img/s1.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

