.list {
    width: 450px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: -3%;
    /* background-color: gray; */
}

.header li a {
    font-weight: bold;
    font-size:  20px;
    text-decoration: none;
    margin-right: 3px;
    color: #fff;
    position: relative;
    list-style: none;
}

.header li a::before {
    content: "";
    height: 4px;
    width: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header li a:hover::before {
    width: 100%;
    background-color: rgb(211, 120, 120);
}